# Modelo C - SVM

Este notebook contém a modelagem e a avaliação do modelo A, que utiliza uma regressão logística.

### Imports

#### Importação das bibliotecas utilizadas

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.multiclass import OneVsRestClassifier
import pickle

#### Importação do conjunto de treinamento e teste

O conjuntos de treinamento e de teste estão em formato JSON, portando é necessário usar a função __read_json__ do pandas para realizar a leitura dos arquivos:

In [2]:
train = pd.read_csv('../dados/train/processed_train_scaled.csv', encoding='utf-8')
train_target = pd.read_csv('../dados/train/train_target.csv', encoding='utf-8')
test = pd.read_csv('../dados/test/processed_test_scaled.csv', encoding='utf-8')

In [3]:
# visualização das cinco primeira receitas presentes no conjunto de treino
train.head(2)

,cuisine,id,ingredients,ingredients_text,ingredients_qtt,0,1,2,3,4,...,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730
0,greek,10259,"['romaine lettuce', 'seasoning', 'grape tomato...",romaine lettuce seasoning grape tomato purple ...,9,-0.400044,-0.007086,-0.00502,-0.00502,-0.009889,...,-0.007019,-0.007093,-0.00502,-0.00502,-0.007095,-0.144463,-0.023507,-0.016558,-0.030612,-0.150551
1,southern_us,25693,"['milk', 'ground pepper', 'thyme', 'salt', 'gr...",milk ground pepper thyme salt ground black pep...,11,0.051786,-0.007086,-0.00502,-0.00502,-0.009889,...,-0.007019,-0.007093,-0.00502,-0.00502,-0.007095,-0.144463,-0.023507,-0.016558,-0.030612,-0.150551

### Modelagem

Os seguintes tratamentos serão realizados nos dois conjuntos de dados:

In [4]:
X_train = train.copy()
X_train = X_train.drop(['cuisine','id','ingredients','ingredients_text','ingredients_qtt'], axis=1)

In [5]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730
0,-0.400044,-0.007086,-0.00502,-0.00502,-0.009889,-0.024161,-0.014036,-0.00502,-0.02375,-0.012196,...,-0.007019,-0.007093,-0.00502,-0.00502,-0.007095,-0.144463,-0.023507,-0.016558,-0.030612,-0.150551
1,0.051786,-0.007086,-0.00502,-0.00502,-0.009889,-0.024161,-0.014036,-0.00502,-0.02375,-0.012196,...,-0.007019,-0.007093,-0.00502,-0.00502,-0.007095,-0.144463,-0.023507,-0.016558,-0.030612,-0.150551
2,0.277700,-0.007086,-0.00502,-0.00502,-0.009889,-0.024161,-0.014036,-0.00502,-0.02375,-0.012196,...,-0.007019,-0.007093,-0.00502,-0.00502,-0.007095,-0.144463,-0.023507,-0.016558,-0.030612,-0.150551
3,-1.529619,-0.007086,-0.00502,-0.00502,-0.009889,-0.024161,-0.014036,-0.00502,-0.02375,-0.012196,...,-0.007019,-0.007093,-0.00502,-0.00502,-0.007095,-0.144463,-0.023507,-0.016558,-0.030612,-0.150551
4,2.085020,-0.007086,-0.00502,-0.00502,-0.009889,-0.024161,-0.014036,-0.00502,-0.02375,-0.012196,...,-0.007019,-0.007093,-0.00502,-0.00502,-0.007095,-0.144463,-0.023507,-0.016558,-0.030612,-0.150551

In [6]:
svm = SVC(random_state=42) #, multi_class='ovr'

In [7]:
model = OneVsRestClassifier(svm, n_jobs=1)
model.fit(X_train, train_target)

OneVsRestClassifier(estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=42,
  shrinking=True, tol=0.001, verbose=False),
          n_jobs=1)

In [8]:
with open('../models/svm.pkl', 'wb') as local_model_file:
    pickle.dump(model, local_model_file)

In [9]:
test.head(2)

,id,ingredients,ingredients_qtt,ingredients_text,0,1,2,3,4,5,...,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730
0,18009,"['milk', 'baking powder', 'white sugar', 'rais...",6,milk baking powder white sugar raisin egg purp...,-1.074579,0.0,0.0,0.0,0.0,-0.025188,...,0.0,-0.010029,0.0,0.0,0.0,-0.150647,-0.017092,-0.013905,-0.035812,-0.14673
1,28583,"['milk', 'toasted pecan', 'banana', 'vanilla e...",11,milk toasted pecan banana vanilla extract corn...,0.044849,0.0,0.0,0.0,0.0,-0.025188,...,0.0,-0.010029,0.0,0.0,0.0,-0.150647,-0.017092,-0.013905,-0.035812,-0.14673

In [10]:
X_test = test.copy()
X_test = X_test.drop(['id','ingredients','ingredients_text','ingredients_qtt'], axis=1)

In [11]:
y_pred_test = model.predict(X_test)

In [12]:
encoder = LabelEncoder()
classes = encoder.fit_transform(train.cuisine)

In [13]:
classes

array([ 6, 16,  4, ...,  8,  3, 13])

In [14]:
y_pred_test

array([ 8, 16,  9, ...,  9, 16, 13])

In [15]:
encoder = LabelEncoder()
classes = encoder.fit_transform(train.cuisine)

In [16]:
list(zip(encoder.classes_, encoder.transform(encoder.classes_)))

[('brazilian', 0),
 ('british', 1),
 ('cajun_creole', 2),
 ('chinese', 3),
 ('filipino', 4),
 ('french', 5),
 ('greek', 6),
 ('indian', 7),
 ('irish', 8),
 ('italian', 9),
 ('jamaican', 10),
 ('japanese', 11),
 ('korean', 12),
 ('mexican', 13),
 ('moroccan', 14),
 ('russian', 15),
 ('southern_us', 16),
 ('spanish', 17),
 ('thai', 18),
 ('vietnamese', 19)]

In [17]:
y_test_decoded = encoder.inverse_transform(y_pred_test)

In [18]:
submission = pd.concat([test['id'],pd.DataFrame(y_test_decoded, columns=[ 'cuisine'])], axis=1)

In [19]:
submission.to_csv("../dados/test/submission_svm.csv", index=False)